
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #D0AB8A;
}


.column {
    /*background-image: url('filmRollVertical.png');*/
    /*background-repeat: repeat;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #BA8353;
    padding: 5px
}


/* Each box */
.box {
    display: inline-flex;
    background-color: grey;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #38261B;
    margin: 1px;
    background-color: white;
    color: #38261B;
    font-size: 24px;
}

.imageTest {
    display: flex;
    justify-content: center;
}


.account {
    display: flex;
    flex-direction: row-reverse;
}

.bodyHome {
    background-image: url('nerd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

.movie-item {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-item img {
    max-width: 100%;
    border-radius: 4px;
}

.moviesBox {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}


.questions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    margin: 5%;
    /*gap: 2%;*/
    gap: 20px;
    align-items: center
}

.inputRegister {
    max-width: 200px;
    /*max-width: 30%;*/
    display: flex;
    justify-content: center;
    /*width: 100%;*/
}


.registerQuestions {
    width: 150px;
    /*width: 30%;*/
    text-align: left
}

.homeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%
}

/*log in css*/

.questionsLogin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    margin: 5%;
    /*gap: 2%;*/
    gap: 20px;
    align-items: center
}

.inputRegisterLogin {
    max-width: 200px;
    /*max-width: 30%;*/
    display: flex;
    justify-content: center;
    /*width: 100%;*/
}


.loginQuestions {
    width: 150px;
    /*width: 30%;*/
    text-align: left
}

