/* Estilos generales */
body {
    background-color: #161616;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #161616;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

/* Cartel de Now on Stream */
.now-stream-banner {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.now-stream-banner img {
    max-width: 90%;
    border: 5px solid red;
    border-radius: 10px;
}

/* Carrusel de películas */
.movies-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.carousel-container {
    display: flex;
    gap: 20px;
}

.movie-item {
    width: 150px;
    height: 225px;
    overflow: hidden;
    border: 2px solid #cc0000;
    border-radius: 10px;
    background-color: #333333;
}

.movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.movie-item:hover img {
    transform: scale(1.1);
}

/* Botones de carrusel */
.carousel-btn {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn {
    margin-left: 10px;
}

/* Botón de Inicio de Sesión */
.login-button, .register-button {
    color: white;
    background-color: #cc0000;
    border: 1px solid #e60000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

.login-button:hover, .register-button:hover {
    background-color: #e60000;
}

/* Offcanvas */
.offcanvas-body {
    background-color: black;
    color: white;
}

.offcanvas-item {
    background-color: #cc0000;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.offcanvas-item:hover {
    background-color: #e60000;
}

/* Link de Logout */
.logout-link {
    color: white;
    text-decoration: none;
    display: block;
}

/* Estilos de la película en cuadrantes */
/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*    gap: 20px;*/
/*    padding: 20px;*/
/*    background-color: #D0AB8A;*/
/*}*/

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #BA8353;
    padding: 5px;
}

/* Each box */
.box {
    display: inline-flex;
    background-color: grey;
    margin-bottom: 20px;
}

/* Elementos comunes */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #38261B;
    background-color: white;
    color: #38261B;
    font-size: 24px;
}

.imageTest {
    display: flex;
    justify-content: center;
}

.account {
    display: flex;
    flex-direction: row-reverse;
}


.bodyHome {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #161616;
}


.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

.movie-item {

    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-item img {
    max-width: 100%;
    border-radius: 4px;
}

.moviesBox {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}


.questions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    /*margin: 5%;*/
    /*gap: 2%;*/
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}

.questionsLogin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    /*margin: 5%;*/
    /*gap: 2%;*/
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}

.inputRegister input {
    width: 120%;
    justify-content: center;
    border-radius: 15px; /* Bordes más redondeados */
    border: #FFFFFF;
}

.registerQuestions {
    font-size: 15px;
    width: 100px;
    /*width: 30%;*/
    text-align: left;
}

.homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}


.inputRegisterLogin {
    max-width: 200px;
    /*max-width: 30%;*/
    display: flex;
    justify-content: center;
    /*width: 100%;*/
}

.loginQuestions {
    width: 150px;
    /*width: 30%;*/
    text-align: left;
}

/*admin*/

.nowrap {
    white-space: nowrap;
    display: inline-block; /* Prevent wrapping */
}

/* Títulos de "Inicio de sesión" y "Registrarse" */
.titleReg {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.titleLog {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

