.custom-container * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.custom-container {
    font-family: 'Cabin', sans-serif; /* Use the most readable font */
    max-width: 1350px;
    margin: 0 auto;
    overflow: hidden;
}

.custom-container .custom-upcoming {
    font-size: 45px;
    text-transform: uppercase;
    border-left: 14px solid #e60000;
    padding-left: 12px;
    margin: 18px 8px;
}

.custom-container .custom-item {
    width: 48%;
    float: left;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    margin: 10px;
}

.custom-container .custom-item-right,
.custom-container .custom-item-left {
    float: left;
    padding: 20px;
}

.custom-container .custom-item-right {
    padding: 79px 50px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    height: 286px;
}

.custom-container .custom-item-right .custom-up-border,
.custom-container .custom-item-right .custom-down-border {
    padding: 14px 15px;
    background-color: #161616;
    border-radius: 50%;
    position: absolute;
}

.custom-container .custom-item-right .custom-up-border {
    top: -8px;
    right: -35px;
}

.custom-container .custom-item-right .custom-down-border {
    bottom: -20px;
    right: -35px;
}

.custom-container .custom-item-right .custom-num {
    font-size: 60px;
    text-align: center;
    color: #111;
}

.custom-container .custom-item-right .custom-day,
.custom-container .custom-item-left .custom-event {
    color: #555;
    font-size: 20px;
    margin-bottom: 9px;
}

.custom-container .custom-item-right .custom-day {
    text-align: center;
    font-size: 15px;
}

.custom-container .custom-item-left {
    width: 71%;
    padding: 34px 0px 19px 46px;
    border-left: 3px dotted #999;
}

.custom-container .custom-item-left .custom-title {
    color: #111;
    font-size: 34px;
    margin-bottom: 12px;
}

.custom-container .custom-item-left .custom-sce {
    margin-top: 5px;
    display: block;
}

.custom-container .custom-item-left .custom-sce .custom-icon,
.custom-container .custom-item-left .custom-sce p,
.custom-container .custom-item-left .custom-loc .custom-icon,
.custom-container .custom-item-left .custom-loc p {
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}

.custom-container .custom-item-left .custom-sce .custom-icon,
.custom-container .custom-item-left .custom-loc .custom-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #666;
}

.custom-container .custom-item-left .custom-loc {
    display: block;
}

.custom-container .custom-fix {
    clear: both;
}

.custom-container .custom-item .custom-tickets,
.custom-container .custom-booked,
.custom-container .custom-cancel {
    color: #fff;
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.custom-container .custom-item .custom-tickets {
    background: #cc0000;
}

.custom-container .custom-item .custom-booked {
    background: #3D71E9;
}

.custom-container .custom-item .custom-cancel {
    background: #DF5454;
}

.custom-container .custom-linethrough {
    text-decoration: line-through;
}

@media only screen and (max-width: 1150px) {
    .custom-container .custom-item {
        width: 100%;
        margin-right: 20px;
    }
    .custom-container {
        margin: 0 20px auto;
    }
}

/* sesion */
.bodyHome {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #161616;
}

.textTicketHistory {
    color: white !important;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #161616;
}

/*user panel*/
.logout-link {
    color: white;
    text-decoration: none;
    display: block;
}
.offcanvas-body {
    background-color: black;
    color: white;
}

.offcanvas-item {
    background-color: #cc0000;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.offcanvas-item:hover {
    background-color: #e60000;
}

