<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/Session.css">
    <link rel="stylesheet" href="/static/Buttons.css">
    <link rel="stylesheet" href="/static/PeliculasAdmin.css">
    <title>Lista de Servicios</title>
</head>
<body class = "bodyHome">



<div id="home2" class="homeButton">
    <button id="homeBtn" class="client-button" onclick="location.href='/home'">
        Inicio
    </button>
</div>


<div class="account">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
                <div class="dropdown">
                    <button class="client-button" type="button" id="userDropdown" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUser" aria-controls="offcanvasUser">
                        <span>Account</span>
                    </button>
                </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasUserLabel">
    <div class="offcanvas-header d-flex justify-content-between w-100">
        <h5 class="offcanvas-title" id="offcanvasUserLabel">Mi cuenta</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="offcanvas-item">
            <a href="/log-out" class="logout-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Cerrar sesión
            </a>
        </div>
        <form id="logout-form" action="/log-out" method="POST" style="display: none;">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        </form>
    </div>
</div>

<div class="container mt-4 ">
    <h2 class = "flex">Servicios</h2>
    <div class="navbar">
        <ul class="nav nav-tabs d-flex flex-nowrap overflow-auto" id="myTab" role="tablist">
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link active" id="addSnack-tab" data-toggle="tab" data-target="#addSnack" type="button" role="tab" aria-controls="addSnack" aria-selected="true" style="color: white;">Crear Snack</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="addCinema-tab" data-toggle="tab" data-target="#addCinema" type="button" role="tab" aria-controls="addCinema" aria-selected="false" style="color: white;">Crear Cine</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="addRoom-tab" data-toggle="tab" data-target="#addRoom" type="button" role="tab" aria-controls="addRoom" aria-selected="false" style="color: white;">Agregar Sala</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="addBroadcast-tab" data-toggle="tab" data-target="#addBroadcast" type="button" role="tab" aria-controls="addBroadcast" aria-selected="false" style="color: white;">Agregar Funcion</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="addMovies-tab" data-toggle="tab" data-target="#addMovies" type="button" role="tab" aria-controls="addMovies" aria-selected="false" style="color: white;">Agregar Pelicula</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteAdmin-tab" data-toggle="tab" data-target="#deleteAdmin" type="button" role="tab" aria-controls="deleteAdmin" aria-selected="true" style="color: white;">Borrar Admin</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteRoom-tab" data-toggle="tab" data-target="#deleteRoom" type="button" role="tab" aria-controls="deleteRoom" aria-selected="false" style="color: white;">Borrar Salon</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="createAdmin-tab" data-toggle="tab" data-target="#createAdmin" type="button" role="tab" aria-controls="createAdmin" aria-selected="false" style="color: white;">Crear Admin</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteCombo-tab" data-toggle="tab" data-target="#deleteCombo" type="button" role="tab" aria-controls="deleteCombo" aria-selected="false" style="color: white;">Borrar Combo</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="createCombo-tab" data-toggle="tab" data-target="#createCombo" type="button" role="tab" aria-controls="createCombo" aria-selected="false" style="color: white;">Crear Combo</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteSnack-tab" data-toggle="tab" data-target="#deleteSnack" type="button" role="tab" aria-controls="deleteSnack" aria-selected="false" style="color: white;">Borrar Snack</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteBroadcast-tab" data-toggle="tab" data-target="#deleteBroadcast" type="button" role="tab" aria-controls="deleteBroadcast" aria-selected="false" style="color: white;">Borrar Broadcast</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteCinema-tab" data-toggle="tab" data-target="#deleteCinema" type="button" role="tab" aria-controls="deleteCinema" aria-selected="false" style="color: white;">Borrar Cinema</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="deleteFilm-tab" data-toggle="tab" data-target="#deleteFilm" type="button" role="tab" aria-controls="deleteFilm" aria-selected="false" style="color: white;">Borrar Film</button>
            </li>
            <li class="nav-item nowrap" role="presentation">
                <button class="nav-link" id="allFilms-tab" data-toggle="tab" data-target="#allFilms" type="button" role="tab" aria-controls="allFilms" aria-selected="false" style="color: white;">Peliculas</button>
            </li>
        </ul>


    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="addSnack" role="tabpanel" aria-labelledby="addSnack-tab" tabindex="0">


            <form action="/adminAddSnack" method="POST">
                <div class="questions">
                    <div class="registerQuestions"> Snack Nombre: </div>
                    <div class="inputRegister">
                        <input type="text" id="snackName" name="snackName" placeholder="Ingresar nombre de snack" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Snack Precio: </div>
                    <div class="inputRegister">
                        <input type="number" id="snackPrice" name="snackPrice" placeholder="Ingresar precio de snack" required><br>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="addCinema" role="tabpanel" aria-labelledby="addCinema-tab" tabindex="0">


            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions"> ID Central: </div>
                    <div class="inputRegister">
                        <input type="number" id="centralIdCinema" name="centralIdNewCinema" placeholder="Ingresar central ID" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Numero of Salas: </div>
                    <div class="inputRegister">
                        <input type="number" id="roomQty" name="roomQty" placeholder="Ingresar numer de salones" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Local: </div>
                    <div class="inputRegister">
                        <input type="text" id="neighborhood" name="neighborhood" placeholder="Ingresar Localidad" required><br>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="addRoom" role="tabpanel" aria-labelledby="addRoom-tab" tabindex="0">


            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions"> Numeoro de Sala: </div>
                    <div class="inputRegister">
                        <input type="number" id="roomNbrRoom" name="roomNbrRoom" placeholder="Ingresar numero de salon" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> ID Central: </div>
                    <div class="inputRegister">
                        <input type="number" id="centralIdRoom" name="centralIdRoom" placeholder="Ingresar central ID" required><br>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="addBroadcast" role="tabpanel" aria-labelledby="addBroadcast-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions"> Tiempo y Fecha: </div>
                    <div class="inputRegister">
                        <input type="text" id="dateTimeS" name="dateTimeS" placeholder="Ingresar fecha y hora" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Precio: </div>
                    <div class="inputRegister">
                        <input type="number" id="broadcastPrice" name="broadcastPrice" placeholder="Ingresar precio" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Numero de Sala: </div>
                    <div class="inputRegister">
                        <input type="number" id="roomNbrBroadcast" name="roomNbrBroadcast" placeholder="Ingresar numero de salon" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> ID Central: </div>
                    <div class="inputRegister">
                        <input type="number" id="centralIdBroadcast" name="centralIdBroadcast" placeholder="Ingresar  central ID" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Codigo: </div>
                    <div class="inputRegister">
                        <input type="number" id="filmCode" name="filmCode" placeholder="Ingresar codigo de pelicula" required><br>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="addMovies" role="tabpanel" aria-labelledby="addMovies-tab" tabindex="0">


            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions"> Nombre: </div>
                    <div class="inputRegister">
                        <input type="text" id="filmName" name="filmName" placeholder="Ingresar nombre de pelicula" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Director: </div>
                    <div class="inputRegister">
                        <input type="text" id="directorName" name="directorName" placeholder="Ingresar nombre de director" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Duracion: </div>
                    <div class="inputRegister">
                        <input type="number" id="duration" name="duration" placeholder="Ingresar duracion" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Año de estreno: </div>
                    <div class="inputRegister">
                        <input type="text" id="releaseYearDate" name="releaseYearDate" placeholder="Ingresar Año de estreno" required><br>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions"> Generos: </div>
                    <div class="inputRegister">
                        <input type="text" id="genres" name="genres" placeholder="Ingresar generos (separados por comma)" required><br>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="deleteAdmin" role="tabpanel" aria-labelledby="deleteAdmin-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccione Admin:</div>
                    <div class="inputRegister">
                        <select id="adminSelect" name="adminId" required>
                            <option value="">Seleccione un admin para borrar</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="deleteRoom" role="tabpanel" aria-labelledby="deleteRoom-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccionar Sala:</div>
                    <div class="inputRegister">
                        <select id="roomSelect" name="roomId" required>
                            <option value="">Seleccione una Sala</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="createAdmin" role="tabpanel" aria-labelledby="createAdmin-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Email:</div>
                    <div class="inputRegister">
                        <input type="email" id="adminEmail" name="email" placeholder="Ingresar email" required>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions">Nombre:</div>
                    <div class="inputRegister">
                        <input type="text" id="adminName" name="name" placeholder="Ingresar nombre" required>
                    </div>
                </div>
                <div class="questions">
                    <div class="registerQuestions">Direccion:</div>
                    <div class="inputRegister">
                        <input type="text" id="adminAddress" name="address" placeholder="Ingresar direccion" required>
                    </div>
                </div>

                <div class="questions">
                    <div class="registerQuestions"> Fecha de nacimiento: </div>
                    <div class="inputRegister">
                        <input type="text" id="adminBirthdate" name="birthdate" placeholder="Ingresar fecha de nacimiento" required><br>
                    </div>
                </div>

                <div class="questions">
                    <div class="registerQuestions">Contraseña:</div>
                    <div class="inputRegister">
                        <input type="password" id="adminPassword" name="password" placeholder="Ingresar contraseña" required>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="deleteCombo" role="tabpanel" aria-labelledby="deleteCombo-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccione Combo:</div>
                    <div class="inputRegister">
                        <select id="comboSelect" name="comboId" required>
                            <option value="">Seleccione un combo</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="createCombo" role="tabpanel" aria-labelledby="createCombo-tab" tabindex="0">
            <form action="falta path" method="POST">
                <div class="snack-selection">
                    <div class="snack-label">Seleccione Snack:</div>
                    <div class="dropdown-container">
                        <select id="snackDropdown" name="snackId">
                            <option value="" disabled selected>Seleccione un snack</option>
                        </select>
                    </div>

                    <div class="quantity-control">
                        <button type="button" id="decreaseBtn">-</button>
                        <input class="quantity-input" type="text" id="snackCounter" name="snackQuantity" value="0" readonly>
                        <button type="button" id="increaseBtn">+</button>
                    </div>
                </div>

                <div class="questions">
                    <div class="registerQuestions">Nombre del pack:</div>
                    <div class="inputRegister">
                        <input type="text" id="comboName" name="combo" placeholder="Nombre del Combo" required>
                    </div>
                </div>

                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <script th:inline="javascript">
            let counter = /*[[${snackCounterValue}]]*/ 0;

            document.getElementById('increaseBtn').addEventListener('click', function() {
                counter++;
                document.getElementById('snackCounter').value = counter;
            });

            document.getElementById('decreaseBtn').addEventListener('click', function() {
                if (counter > 0) {
                    counter--;
                    document.getElementById('snackCounter').value = counter;
                }
            });
        </script>


        <div class="tab-pane fade" id="deleteSnack" role="tabpanel" aria-labelledby="deleteSnack-tab" tabindex="0">

            <form action="/adminDeleteSnack" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccione Snack:</div>
                    <div class="inputRegister">
                        <select id="snackSelect" name="snackId" required>
                            <option th:each="snack : ${snacks}" th:value="${snack.snackName}" th:text="${snack.snackName}">Snack Name</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="deleteBroadcast" role="tabpanel" aria-labelledby="deleteBroadcast-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccione Funcion:</div>
                    <div class="inputRegister">
                        <select id="broadcastSelect" name="broadcastId" required>
                            <option value="">Seleccione una funcion</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="deleteCinema" role="tabpanel" aria-labelledby="deleteCinema-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccione Cine:</div>
                    <div class="inputRegister">
                        <select id="cinemaSelect" name="cinemaId" required>
                            <option value="">Seleccione un cine</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="deleteFilm" role="tabpanel" aria-labelledby="deleteFilm-tab" tabindex="0">

            <form action="falta path" method="POST">
                <div class="questions">
                    <div class="registerQuestions">Seleccione Pelicula:</div>
                    <div class="inputRegister">
                        <select id="filmSelect" name="filmId" required>
                            <option value="">Seleccione una pelicula</option>
                        </select>
                    </div>
                </div>
                <div class="questions">
                    <button type="submit" class="client-button">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="allFilms" role="tabpanel" aria-labelledby="allFilms-tab" tabindex="0">

            <div class="custom-container">
                <h1 class="custom-upcoming textTicketHistory">Peliculas</h1>
                <div th:each="film : ${films}" style="display: flex; flex-wrap: nowrap; justify-content: center;">
                <div class="custom-item" style="display: flex; flex-wrap: nowrap;">
                    <div class="custom-item-right">
                        <h2 class="custom-num" th:text="${#numbers.formatDecimal(film.score, 0, 0)+ '/5'}">rating</h2>
                        <p class="custom-day">Rating</p>
                    </div>

                    <div class="custom-item-left" >
                        <p class="custom-event"> Pelicula </p>
                        <h2 class="custom-title" th:text="${film.filmName}">Movie Title</h2>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>