
<head>
    <meta charset="UTF-8">
    <title>login HTML</title>
</head>
<link rel="stylesheet" href="/tic.css" />
<body class="bodyRegister">


<div id = "home" class = "homeButton">
    <button id="homeBtn" onclick="location.href='/home'">
        Inicio
    </button>
</div>

<div class="flex">
    Login de usuario
</div>

<div class="questions">
    <div class="registerQuestions"> Email: </div>
    <div class="inputRegister">
        <input type="text" id="email" name="email" placeholder="Ingresar email"><br>
    </div>
</div>

<div class="questions">
    <div class="registerQuestions"> Contraseña: </div>
    <div class="inputRegister">
        <input type="password" id="password" name="password" placeholder="Ingresar contraseña"><br>
    </div>
</div>
<div class="questions">
    <input type="submit" value="Confirmar">
</div>
</body>
