<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Pagar Entradas</title>
    <link rel="stylesheet" href="/static/Session.css">
    <link rel="stylesheet" href="/static/Buttons.css">
</head>
<body class="bodyRegister">

<!-- Encabezado con imagen -->
<div class="header">
    <img src="/static/header.png" alt="WTF Cinema" class="header-logo">
</div>

<!-- Botón de volver -->
<div id="home3" class="homeButton">
    <button id="homeBtn" class="client-button" onclick="location.href='/seats'">
        Volver
    </button>
</div>

<!-- Título -->
<h2 class="titleReg">Pago</h2>


<div class="payment-summary">
    <p>Precio total: <span class="price" th:text="'$' + ${totalPrice}"></span></p>
</div>
<!-- Sección para tarjeta guardada -->

<div id="saved-cards" class="payment-option">
    <h4>Tarjeta Guardada</h4>
    <div th:if="${user.getCardNbr() != null}">
        <p>**** **** **** <span th:text="${user.getCardNbr().toString().substring(user.getCardNbr().toString().length() - 4)}"></span></p>
        <form th:action="@{/payment/payWithSavedCard}" method="post" >
            <input type="hidden" name="cardNumber" th:value="${user.getCardNbr()}">
            <button type="submit" class="btn-confirm">Pagar con esta tarjeta</button>
        </form>
    </div>
    <div th:if="${user.getCardNbr() == null}">
        <p>No tienes una tarjeta guardada.</p>
    </div>
</div>

<!-- Sección para agregar nueva tarjeta -->
<div id="add-card" class="payment-option">
    <h4>Agregar Nueva Tarjeta</h4>
    <form th:action="@{/payment/add-card}" method="post">
        <label for="card-number">Número de Tarjeta</label>
        <input type="text" id="card-number" name="card-number" class="input-card-number" placeholder="Ingresa el número de la tarjeta" required>
        <button type="submit" class="btn-add-card">Agregar</button>
    </form>
</div>



</body>
</html>
