
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' rel="stylesheet">
    <link rel="stylesheet" href="/static/Seats.css"/>
    <link rel="stylesheet" href="/static/Buttons.css"/>
    <title>Seleccion de asientos</title>

</head>
<body>
<div class="overflow-y-scroll">
<div id="home3" class="homeButton">
    <button id="homeBtn" class="client-button" onclick="location.href='/home'">
        Volver
    </button>
</div>

<div class="flex title">
    Seleccione su asiento
</div>

<ul class="showcase">

    <li>
        <div class="seat"></div>
        <small>Disponible</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Seleccionado</small>
    </li>
    <li>
        <div class="seat occupied"></div>
        <small>Ocupado</small>
    </li>

</ul>


    <div class="container px-4">
        <div class="screen"></div>

        <!-- Filas de asientos -->
        <div th:each="row, rowStat : ${seatsByRow}" class="row justify-content-center flex-nowrap">
            <!-- (10 asientos por fila) -->
            <div th:each="seat : ${row}" class="col-auto p-1">
                <form action="/selectSeat" method="post">
                    <input type="hidden" name="seatId" th:value="${seat.getSeatId()}" />

                    <button type="submit"
                            th:classappend="${notAvailableSeats.contains(seat.getSeatId()) ? 'seat occupied' : (seat.getSeatId() == selectedSeatId ? 'seat selected' : 'seat')}"
                            th:id="'seat' + ${seat.getSeatId()}"
                            th:attr="disabled=${notAvailableSeats.contains(seat.getSeatId())}">
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div th:if="${selectedSeatId != null}">
        <form action="/confirmSeat" method="post" >
            <button type="submit" class="client-button">
                Confirmar
            </button>
        </form>
    </div>
</div>
</body>
</html>