
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' rel="stylesheet">
    <link rel="stylesheet" href="/static/Seats.css"/>
    <link rel="stylesheet" href="/static/Buttons.css"/>
    <title>Services List</title>
</head>
<body>

<div id="home3" class="homeButton">
    <button id="homeBtn" class="client-button" onclick="location.href='/ticketNew'">
        Volver
    </button>
</div>

<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>N/A</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Selected</small>
    </li>
    <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
    </li>

</ul>

<div class="container px-4 ">
    <div class="screen"></div>
    <!-- Row 1 -->
    <div class="row justify-content-center flex-nowrap first-row-padding">
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="1"/>
            <button type="submit" class="seat occupied" id="seat1"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="2"/>
            <button type="submit" class="seat occupied" id="seat2"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="3"/>
            <button type="submit" class="seat" id="seat3"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="4"/>
            <button type="submit" class="seat" id="seat4"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="5"/>
            <button type="submit" class="seat" id="seat5"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="6"/>
            <button type="submit" class="seat" id="seat6"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="7"/>
            <button type="submit" class="seat" id="seat7"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="8"/>
            <button type="submit" class="seat" id="seat8"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="9"/>
            <button type="submit" class="seat" id="seat9"></button>
        </form>
    </div>
    <div class="col-auto p-1">
        <form action="/selectSeat" method="post">
            <input type="hidden" name="seatId" value="10"/>
            <button type="submit" class="seat" id="seat10"></button>
        </form>
    </div>
    </div>

    <!-- Row 2 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="11"/>
                <button type="submit" class="seat selected" id="seat11"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="12"/>
                <button type="submit" class="seat selected" id="seat12"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="13"/>
                <button type="submit" class="seat" id="seat13"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="14"/>
                <button type="submit" class="seat" id="seat14"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="15"/>
                <button type="submit" class="seat" id="seat15"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="16"/>
                <button type="submit" class="seat" id="seat16"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="17"/>
                <button type="submit" class="seat" id="seat17"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="18"/>
                <button type="submit" class="seat" id="seat18"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="19"/>
                <button type="submit" class="seat" id="seat19"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="20"/>
                <button type="submit" class="seat" id="seat20"></button>
            </form>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="21"/>
                <button type="submit" class="seat selected" id="seat21"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="22"/>
                <button type="submit" class="seat selected" id="seat22"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="23"/>
                <button type="submit" class="seat" id="seat23"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="24"/>
                <button type="submit" class="seat" id="seat24"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="25"/>
                <button type="submit" class="seat" id="seat25"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="26"/>
                <button type="submit" class="seat" id="seat26"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="27"/>
                <button type="submit" class="seat" id="seat27"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="28"/>
                <button type="submit" class="seat" id="seat28"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="29"/>
                <button type="submit" class="seat" id="seat29"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="30"/>
                <button type="submit" class="seat" id="seat30"></button>
            </form>
        </div>
    </div>

    <!-- Row 4 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="31"/>
                <button type="submit" class="seat" id="seat31"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="32"/>
                <button type="submit" class="seat" id="seat32"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="33"/>
                <button type="submit" class="seat" id="seat33"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="34"/>
                <button type="submit" class="seat" id="seat34"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="35"/>
                <button type="submit" class="seat" id="seat35"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="36"/>
                <button type="submit" class="seat" id="seat36"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="37"/>
                <button type="submit" class="seat" id="seat37"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="38"/>
                <button type="submit" class="seat" id="seat38"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="39"/>
                <button type="submit" class="seat" id="seat39"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="40"/>
                <button type="submit" class="seat" id="seat40"></button>
            </form>
        </div>
    </div>

    <!-- Row 5 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="41"/>
                <button type="submit" class="seat" id="seat41"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="42"/>
                <button type="submit" class="seat" id="seat42"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="43"/>
                <button type="submit" class="seat" id="seat43"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="44"/>
                <button type="submit" class="seat" id="seat44"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="45"/>
                <button type="submit" class="seat" id="seat45"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="46"/>
                <button type="submit" class="seat" id="seat46"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="47"/>
                <button type="submit" class="seat" id="seat47"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="48"/>
                <button type="submit" class="seat" id="seat48"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="49"/>
                <button type="submit" class="seat" id="seat49"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="50"/>
                <button type="submit" class="seat" id="seat50"></button>
            </form>
        </div>
    </div>

    <!-- Row 6 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="51"/>
                <button type="submit" class="seat" id="seat51"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="52"/>
                <button type="submit" class="seat" id="seat52"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="53"/>
                <button type="submit" class="seat" id="seat53"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="54"/>
                <button type="submit" class="seat" id="seat54"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="55"/>
                <button type="submit" class="seat" id="seat55"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="56"/>
                <button type="submit" class="seat" id="seat56"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="57"/>
                <button type="submit" class="seat" id="seat57"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="58"/>
                <button type="submit" class="seat" id="seat58"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="59"/>
                <button type="submit" class="seat" id="seat59"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="60"/>
                <button type="submit" class="seat" id="seat60"></button>
            </form>
        </div>
    </div>

    <!-- Row 7 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="61"/>
                <button type="submit" class="seat" id="seat61"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="62"/>
                <button type="submit" class="seat" id="seat62"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="63"/>
                <button type="submit" class="seat" id="seat63"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="64"/>
                <button type="submit" class="seat" id="seat64"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="65"/>
                <button type="submit" class="seat" id="seat65"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="66"/>
                <button type="submit" class="seat" id="seat66"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="67"/>
                <button type="submit" class="seat" id="seat67"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="68"/>
                <button type="submit" class="seat" id="seat68"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="69"/>
                <button type="submit" class="seat" id="seat69"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="70"/>
                <button type="submit" class="seat" id="seat70"></button>
            </form>
        </div>
    </div>

    <!-- Row 8 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="71"/>
                <button type="submit" class="seat" id="seat71"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="72"/>
                <button type="submit" class="seat" id="seat72"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="73"/>
                <button type="submit" class="seat" id="seat73"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="74"/>
                <button type="submit" class="seat" id="seat74"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="75"/>
                <button type="submit" class="seat" id="seat75"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="76"/>
                <button type="submit" class="seat" id="seat76"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="77"/>
                <button type="submit" class="seat" id="seat77"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="78"/>
                <button type="submit" class="seat" id="seat78"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="79"/>
                <button type="submit" class="seat" id="seat79"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="80"/>
                <button type="submit" class="seat" id="seat80"></button>
            </form>
        </div>
    </div>

    <!-- Row 9 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="81"/>
                <button type="submit" class="seat" id="seat81"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="82"/>
                <button type="submit" class="seat" id="seat82"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="83"/>
                <button type="submit" class="seat" id="seat83"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="84"/>
                <button type="submit" class="seat" id="seat84"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="85"/>
                <button type="submit" class="seat" id="seat85"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="86"/>
                <button type="submit" class="seat" id="seat86"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="87"/>
                <button type="submit" class="seat" id="seat87"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="88"/>
                <button type="submit" class="seat" id="seat88"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="89"/>
                <button type="submit" class="seat" id="seat89"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="90"/>
                <button type="submit" class="seat" id="seat90"></button>
            </form>
        </div>
    </div>

    <!-- Row 10 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="91"/>
                <button type="submit" class="seat" id="seat91"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="92"/>
                <button type="submit" class="seat" id="seat92"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="93"/>
                <button type="submit" class="seat" id="seat93"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="94"/>
                <button type="submit" class="seat" id="seat94"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="95"/>
                <button type="submit" class="seat" id="seat95"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="96"/>
                <button type="submit" class="seat" id="seat96"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="97"/>
                <button type="submit" class="seat" id="seat97"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="98"/>
                <button type="submit" class="seat" id="seat98"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="99"/>
                <button type="submit" class="seat" id="seat99"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="100"/>
                <button type="submit" class="seat" id="seat100"></button>
            </form>
        </div>
    </div>


    <!-- Row 11 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="101"/>
                <button type="submit" class="seat" id="seat101"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="102"/>
                <button type="submit" class="seat" id="seat102"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="103"/>
                <button type="submit" class="seat" id="seat103"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="104"/>
                <button type="submit" class="seat" id="seat104"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="105"/>
                <button type="submit" class="seat" id="seat105"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="106"/>
                <button type="submit" class="seat" id="seat106"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="107"/>
                <button type="submit" class="seat" id="seat107"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="108"/>
                <button type="submit" class="seat" id="seat108"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="109"/>
                <button type="submit" class="seat" id="seat109"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="110"/>
                <button type="submit" class="seat" id="seat110"></button>
            </form>
        </div>
    </div>

    <!-- Row 12 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="111"/>
                <button type="submit" class="seat" id="seat111"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="112"/>
                <button type="submit" class="seat" id="seat112"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="113"/>
                <button type="submit" class="seat" id="seat113"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="114"/>
                <button type="submit" class="seat" id="seat114"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="115"/>
                <button type="submit" class="seat" id="seat115"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="116"/>
                <button type="submit" class="seat" id="seat116"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="117"/>
                <button type="submit" class="seat" id="seat117"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="118"/>
                <button type="submit" class="seat" id="seat118"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="119"/>
                <button type="submit" class="seat" id="seat119"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="120"/>
                <button type="submit" class="seat" id="seat120"></button>
            </form>
        </div>
    </div>

    <!-- Row 13 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="121"/>
                <button type="submit" class="seat" id="seat121"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="122"/>
                <button type="submit" class="seat" id="seat122"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="123"/>
                <button type="submit" class="seat" id="seat123"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="124"/>
                <button type="submit" class="seat" id="seat124"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="125"/>
                <button type="submit" class="seat" id="seat125"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="126"/>
                <button type="submit" class="seat" id="seat126"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="127"/>
                <button type="submit" class="seat" id="seat127"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="128"/>
                <button type="submit" class="seat" id="seat128"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="129"/>
                <button type="submit" class="seat" id="seat129"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="130"/>
                <button type="submit" class="seat" id="seat130"></button>
            </form>
        </div>
    </div>

    <!-- Row 14 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="131"/>
                <button type="submit" class="seat" id="seat131"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="132"/>
                <button type="submit" class="seat" id="seat132"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="133"/>
                <button type="submit" class="seat" id="seat133"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="134"/>
                <button type="submit" class="seat" id="seat134"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="135"/>
                <button type="submit" class="seat" id="seat135"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="136"/>
                <button type="submit" class="seat" id="seat136"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="137"/>
                <button type="submit" class="seat" id="seat137"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="138"/>
                <button type="submit" class="seat" id="seat138"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="139"/>
                <button type="submit" class="seat" id="seat139"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="140"/>
                <button type="submit" class="seat" id="seat140"></button>
            </form>
        </div>
    </div>

    <!-- Row 15 -->
    <div class="row justify-content-center flex-nowrap">
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="141"/>
                <button type="submit" class="seat" id="seat141"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="142"/>
                <button type="submit" class="seat" id="seat142"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="143"/>
                <button type="submit" class="seat" id="seat143"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="144"/>
                <button type="submit" class="seat" id="seat144"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="145"/>
                <button type="submit" class="seat" id="seat145"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="146"/>
                <button type="submit" class="seat" id="seat146"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="147"/>
                <button type="submit" class="seat" id="seat147"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="148"/>
                <button type="submit" class="seat" id="seat148"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="149"/>
                <button type="submit" class="seat" id="seat149"></button>
            </form>
        </div>
        <div class="col-auto p-1">
            <form action="/selectSeat" method="post">
                <input type="hidden" name="seatId" value="150"/>
                <button type="submit" class="seat" id="seat150"></button>
            </form>
        </div>
    </div>


</div>
</body>
</html>